@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  @apply transition-colors duration-200;
} */

@layer base {
  :root {
    --background: white;
    --foreground: #64748b;
    --card: #d5d9e2;
    --card-foreground: #23272e;
    --popover: #f6f7f9;
    --popover-foreground: #343a46;
    --primary: #64748b;
    --primary-hover: #526077;
    --primary-active: #434e61;
    --primary-foreground: #f6f7f9;
    --secondary: #254bbb;
    --secondary-hover: #213d87;
    --secondary-active: #192752;
    --secondary-foreground: #f2f7fd;
    --muted: #eceef2;
    --muted-foreground: #8695aa;
    --accent: #f59e0b;
    --accent-hover: #d98b06;
    --accent-active: #b47409;
    --accent-foreground: #452c03;
    --destructive: #ef4343;
    --destructive-hover: #dc2626;
    --destructive-active: #b91c1c;
    --destructive-foreground: #fef2f2;
    --border: #8695aa;
    --nav-foreground: hsl(0 0% 100%);
    --input: #64748b;
    --ring: #8695aa;
    --radius: 0.5rem;
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
  }

  .dark {
    --background: #13171e;
    --foreground: #f6f7f9;
    --card: #d5d9e2;
    --card-foreground: #121316;
    --popover: #f6f7f9;
    --popover-foreground: #343a46;
    --primary: #64748b;
    --primary-hover: #526077;
    --primary-active: #434e61;
    --primary-foreground: #f6f7f9;
    --secondary: #254bbb;
    --secondary-hover: #213d87;
    --secondary-active: #192752;
    --secondary-foreground: #f2f7fd;
    --muted: #23272e;
    --muted-foreground: #526077;
    --accent: #f59e0b;
    --accent-hover: #d98b06;
    --accent-active: #b47409;
    --accent-foreground: #452c03;
    --destructive: #ef4343;
    --destructive-hover: #dc2626;
    --destructive-active: #b91c1c;
    --destructive-foreground: #fef2f2;
    --border: #8695aa;
    --nav-foreground: hsl(0 0% 100%);
    --input: #eceef2;
    --ring: #8695aa;
    --radius: 0.5rem;
    --chart-1: hsl(12 76% 61%);
    --chart-2: hsl(173 58% 39%);
    --chart-3: hsl(197 37% 24%);
    --chart-4: hsl(43 74% 66%);
    --chart-5: hsl(27 87% 67%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-3xl;
  }
}
